<article class="card w-50 mb-2 mx-auto">
        <div class="card-body">
        <p><strong>Producto:</strong>{{item.nombre}}</p>
        <p><strong>Marca: </strong>{{item.marca}} </p>
        <p><strong>Modelo:</strong>{{item.modelo}}</p>
        <p><strong>Precio:</strong>{{item.precio}}</p>
        </div>
        <button class="btn btn-warning mb-2">Editar</button>
        <button class="btn btn-danger mb-2">Eliminar</button>
</article>